.bttn{
    text-align: center;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #0069B7;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 150px;
    position: absolute;
    left: 10%;
    bottom: 10%;
  }
  
  .bttn:hover{
    background-color: #254992;
  }