.container {
  padding: 2rem 0;
  max-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 10;
  line-height: 1.15;
  font-size: 4rem;
  position: absolute;
  top: 10%;
  left:20%
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.navbar {
  background-color: #3F3F3F;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropBttn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 140px;
}

.dropdown:hover .dropBttn, .navbar a:hover {
  background-color: #0069B7;
}


.dropdownContent {
  float: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 140px;

}
.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 108px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.topNav{
  float: right;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 140px; 
}

.topNav:hover{
  background-color: #0069B7;
}

.background{
  position: absolute;
  z-index: -5;
}

.login_box {
  width: 340px;
  background-color: #fff;
}